.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  margin: auto;

  h3 {
    color: #256c89;
    font-size: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
    h3 {
      font-size: 30px;
    }
  }
}
